<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.examination.dao.ItemBankDao">

	<select id="get" resultType="com.bootdo.examination.domain.ItemBankDO">
		select `id`,`topic_type`,`fraction`,`title_number`,`subject`,`topic_options`,`question_answer` from item_bank where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.examination.domain.ItemBankDO">
		select `id`,`topic_type`,`fraction`,`title_number`,`subject`,`topic_options`,`question_answer` from item_bank
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="topicType != null and topicType != ''"> and topic_type = #{topicType} </if>
			      <if test="titleNumber != null and titleNumber != ''"> and title_number = #{titleNumber} </if>
		  		  <if test="fraction != null and fraction != ''"> and fraction = #{fraction} </if>
		  		  <if test="subject != null and subject != ''"> and subject = #{subject} </if>
		  		  <if test="topicOptions != null and topicOptions != ''"> and topic_options = #{topicOptions} </if>
		  		  <if test="questionAnswer != null and questionAnswer != ''"> and question_answer = #{questionAnswer} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from item_bank
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="topicType != null and topicType != ''"> and topic_type = #{topicType} </if>
			      <if test="titleNumber != null and titleNumber != ''"> and title_number = #{titleNumber} </if>
		  		  <if test="fraction != null and fraction != ''"> and fraction = #{fraction} </if>
		  		  <if test="subject != null and subject != ''"> and subject = #{subject} </if>
		  		  <if test="topicOptions != null and topicOptions != ''"> and topic_options = #{topicOptions} </if>
		  		  <if test="questionAnswer != null and questionAnswer != ''"> and question_answer = #{questionAnswer} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.examination.domain.ItemBankDO">
		insert into item_bank
		(
			id,
			topic_type,
			title_number,
			fraction,
			subject,
			topic_options,
			question_answer
		)
		values
		(
			#{id}, 
			#{topicType},
			#{titleNumber},
			#{fraction}, 
			#{subject}, 
			#{topicOptions}, 
			#{questionAnswer}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.examination.domain.ItemBankDO">
		update item_bank 
		<set>
			<if test="topicType != null">`topic_type` = #{topicType}, </if>
			<if test="fraction != null">`fraction` = #{fraction}, </if>
			<if test="titleNumber != null">`title_number` = #{titleNumber}, </if>
			<if test="subject != null">`subject` = #{subject}, </if>
			<if test="topicOptions != null">`topic_options` = #{topicOptions}, </if>
			<if test="questionAnswer != null">`question_answer` = #{questionAnswer}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from item_bank where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from item_bank where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>